:root {
  box-sizing: border-box;
}

* {
  box-sizing: inherit;
}

.template, .hidden {
  display: none;
}

/*TODO*/
#cardTitle {
  width: 50%;
}
input, button, textarea {
  font-family: inherit;
  font-size: inherit;
}

.moving {
  border: 2px solid black;
  transition: border 500ms ease
}

.card .editTitle {
  width: 65%;
  height: 3em;
  line-height: 1;
  background-color: inherit;
  font-size: large;
  font-weight: bold;
}

.card .editDescription {
  margin-top: 1rem;
  width: 100%;
  height: 7em;
  line-height: 1;
  background-color: inherit;
}

.description {
  white-space: pre-wrap;
}

.moveHere, .buttons button {
  border: 0px;
  background-color: inherit;
  cursor: pointer;
}
.buttons button:hover {
  background-color: rgba(0, 0, 0, 0.25);
}

.moveHere {
  font-size: small;
  color:gray;
  margin-bottom: 0.75em;
  border-radius: 6px;
  transition: transform 200ms ease
}
.moveHere:hover {
  color:black;
  background-color: #e0e0e0;
  transform: translateY(-2px);
}