:root {
  box-sizing: border-box;
}

* {
  box-sizing: inherit;
}

.template, .hidden {
  display: none;
}

/*TODO*/
#cardTitle {
  width: 50%;
}
input, button, textarea {
  font-family: inherit;
  font-size: inherit;
}

.moving {
  border: 2px;
  border-color: black;
  border-style: solid;
}

.card textarea {
  margin-top: 1rem;
  width: 100%;
  height: 5em;
  line-height: 1;
  background-color: inherit;
}

.description {
  white-space: pre-wrap;
}

.moveHere, .buttons button {
  border: 0px;
  background-color: inherit;
  cursor: pointer;
}
.buttons button:hover {
  background-color: rgba(0, 0, 0, 0.25);
}

.moveHere {
  font-size: small;
  color:gray;
}
.moveHere:hover {
  color:black;
  background-color: #e0e0e0;
}